* {
    margin: 0;
}

body {
    background-image: url("https://i.ibb.co/6RvYJ34/8018794046-b02c23cc32-o.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

#welcome-section {
    height: 97vh;
    width: 100%;
    color: white;
    background-color: #1D3354;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ibb.co/6RvYJ34/8018794046-b02c23cc32-o.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 400px;
}

#welcome-section>h1 {
    font-size: 56px;
    font-family: 'Raleway', sans-serif;
}

#welcome-section>p {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    padding-top: 5px;
}

.resume-button {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: rgba(29, 51, 84);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.resume-button:hover {
    color: #1D3354;
    background-color: #E9FFF9;
}

#resume-section {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(29, 51, 84, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#resume-container {
    margin: 50px;
    padding: 20px;
}

#resume-header {
    display: flex;
    align-items: center;
}

#resume-header>img {
    background: white;
    border-radius: 5% 5% 5% 5% / 5% 5% 0% 0%;
    color: white;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    margin-right: 30px;
    margin-left: 60px;
}

#resume-header>img:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

#card-links-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link>a>img {
    margin-right: 5px;
}

.card-link {
    transition: transform 0.3s ease-out;
    transition: 0.4s;
    flex: 0 0 calc(25% - 20px);
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-left: 4px solid white;
    text-decoration: none;
}

.card-link:hover {
    transform: translateX(10px);
    color: #1D3354;
    background-color: #E9FFF9;
}

#accordion-container {
    width: 60%;
    margin-bottom: 30px;
    min-width: 400px;
}

.accordion {
    background-color: #1D3354;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 2px solid rgba(29, 51, 84, 0.8);
    border-top-left-radius: 30px;
    font-family: 'Raleway', sans-serif;
}

.active,
.accordion:hover {
    background-color: #E9FFF9;
    color: #1D3354;
    transform: translateY(-15px) translateX(-15px);
}

.panel {
    padding: 0 18px;
    background-color: #467599;
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#links-section {
    height: 90vh;
    width: 100%;
    background-color: #7D89F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#links-section>h1 {
    font-size: 56px;
    font-family: 'Raleway', sans-serif;
}

#links-section>p {
    padding-top: 5px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.resume-table>tbody>tr>td>a {
    color: white;
}

.resume-table>tbody>tr>th {
    padding-right: 10px;
}

.resume-table>tbody>tr {
    transition: 0.4s ease-out;
}

.resume-table>tbody>tr:hover {
    color: #1D3354;
    background-color: #E9FFF9;
    transform: translateX(10px);
}

.resume-table>tbody>tr:hover>td>a {
    color: #1D3354;
}

#footer {
    display: flex;
    height: 4vh;
    width: 100%;
    min-width: 300px;
    min-height: 60px;
    border-top: 4px solid #D64045;
    background-color: rgba(29, 51, 84, 0.8);
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#footer>h2 {
    display: flex;
    font-size: 16px;
    font-weight: normal;
    margin: auto;
}

#footer>p {
    display: flex;
    font-size: 16px;
    font-weight: normal;
    margin: auto;
}

@media (max-width: 1024px) and (max-height: 1024px) {
    #welcome-section>h1 {
        font-size: 34px;
        font-family: 'Raleway', sans-serif;
    }
    
    #welcome-section {
        min-width: 400px;
    }

    #resume-section {
        min-height: 100vh;
        width: 100%;
        background-color: rgba(29, 51, 84, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 400px;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    
    #resume-container {
        margin: 50px;
        padding: 20px;
    }
    
    #resume-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #resume-header>img {
        background: white;
        border-radius: 5% 5% 5% 5% / 5% 5% 0% 0%;
        color: white;
        box-shadow: 20px 20px rgba(0, 0, 0, .15);
        transition: all .4s ease;
        margin: auto;
        margin-right: 25px;
    }
    
    #resume-header>img:hover {
        border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
        box-shadow: 10px 10px rgba(0, 0, 0, .25);
    }
    
    #card-links-container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .card-link>a>img {
        margin-right: 5px;
    }
    
    .card-link {
        transition: transform 0.3s ease-out;
        transition: 0.4s;
        flex: 0 0 calc(25% - 20px);
        color: white;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border-left: 4px solid white;
        text-decoration: none;
    }
    
    .card-link:hover {
        transform: translateX(10px);
        color: #1D3354;
        background-color: #E9FFF9;
    }
    
    #accordion-container {
        width: 60%;
        margin-bottom: 30px;
        min-width: 400px;
    }
    
    .accordion {
        background-color: #1D3354;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border: 2px solid rgba(29, 51, 84, 0.8);
        border-top-left-radius: 30px;
        font-family: 'Raleway', sans-serif;
    }
    
    .active,
    .accordion:hover {
        background-color: #E9FFF9;
        color: #1D3354;
        transform: translateY(-5px) translateX(-5px);
    }
    
    .panel {
        padding: 0 18px;
        background-color: #467599;
        max-height: 10px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    .resume-table>tbody>tr>td>a {
        color: white;
    }
    
    .resume-table>tbody>tr>th {
        padding-right: 10px;
    }
    
    .resume-table>tbody>tr {
        transition: 0.4s ease-out;
    }
    
    .resume-table>tbody>tr:hover {
        color: #1D3354;
        background-color: #E9FFF9;
        transform: translateX(10px);
    }
    
    .resume-table>tbody>tr:hover>td>a {
        color: #1D3354;
    }
    #footer {
        flex-direction: column;
        text-align: center;
        min-width: 400px;
    }
    #footer>h2 {
        display: flex;
        font-size: 16px;
        font-weight: normal;
        margin: auto;
        margin-bottom: 0;
    }
    #footer>p {
        display: flex;
        font-size: 16px;
        font-weight: normal;
        margin: auto;
        margin-top: 0;
    }
}